<!--<div class="row">
  <div class="col-lg-1 col-md-2 col-sm-3 col-xs-4" ng-repeat="n in [1,2,3,4]" style="margin:20px;">
    <img src="/images/sponsors/{{n}}.png" width="100%" height="100%" style="margin:20px;width:300px;height:150px;"/>
  </div>
</div>
<div class="row">
  <div class="col-lg-1 col-md-2 col-sm-3 col-xs-4" ng-repeat="n in [5,6,7,8]" style="margin:20px;">
    <img src="/images/sponsors/{{n}}.png" style="width:300px;height:150px;"/>
  </div>
</div>-->
<h1 style="text-align:center;">Our Sponsors</h1>
<div class="row">
  <div class="col-lg-3 col-sm-6 col-xs-12 sponsor-logo-container">
    <img src="/images/sponsors/1.png" width="100%" height="100%"/>
  </div>
  <div class="col-lg-3 col-sm-6 col-xs-12 col-xs-4 sponsor-logo-container">
    <img src="/images/sponsors/2.png" width="100%" height="100%"/>
  </div>
  <div class="col-lg-3 col-sm-6 col-xs-12 sponsor-logo-container">
    <img src="/images/sponsors/default.svg" width="100%" height="100%"/>
  </div>
  <div class="col-lg-3 col-sm-6 col-xs-12 sponsor-logo-container">
    <img src="/images/sponsors/default.svg" width="100%" height="100%"/>
  </div>
</div>

<div class="row">
  <div class="col-lg-3 col-sm-6 col-xs-12 sponsor-logo-container">
    <img src="/images/sponsors/default.svg" width="100%" height="100%"/>
  </div>
  <div class="col-lg-3 col-sm-6 col-xs-12 sponsor-logo-container">
    <img src="/images/sponsors/default.svg" width="100%" height="100%"/>
  </div>
  <div class="col-lg-3 col-sm-6 col-xs-12 col-xs-12 sponsor-logo-container">
    <img src="/images/sponsors/default.svg" width="100%" height="100%"/>
  </div>
  <div class="col-lg-3 col-sm-6 col-xs-12 col-xs-12 sponsor-logo-container">
    <img src="/images/sponsors/default.svg" width="100%" height="100%"/>
  </div>
</div>
