extends ../layouts/default

block content
  .container
    img(src="images/logo.svg", width="250px", height="250px")
    .row: #about_text
      .col-lg-12: col-xs-12
        p(style="text-align:left;font-size:20pt;") The UJ Hydrogen Innovation Team was formally established in 2016 by a team which had participated in a renewable energy project that focused on the design and construction of solar vehicles.

        p(style="text-align:left;font-size:20pt;margin-left:40px;") An interest arose on other forms of alternative energy, and thus research began on the various applications of hydrogen fuel cell technologies. Through research, a clear need for further investigation into the production, use, storage and sustainability of hydrogen was discovered.

    .row(style="width:95%;margin:auto;")
      .col-lg-12: col-xs-12
        p(style="text-align:left;font-size:20pt;margin-top:20px;") The UJ Hydrogen Innovation Team aims to conduct research on the production, use, storage and sustainability of hydrogen while engaging in dynamic projects to further increase awareness in the applications and benefits of not only hydrogen, but also renewable energy technologies across multiple disciplines.

    .row(style="width:95%;margin:auto;")
      .col-lg-12: col-xs-12
        p(style="text-align:left;font-size:20pt;margin-top:20px;") The UJ Hydrogen Innovation Team aims to create an environment that is favourable for industrial collaboration, eventually creating employment opportunities for members together with industry professionals.
