extends ../layouts/default

block content
	.jumbotron
		.container
			.inner.cover.content-container
				h1 Welcome
				img(style='margin:auto;', src='/images/logo.svg', width='200px', height='200px')
				#intro_text
				p
					The UJ Hydrogen Innovation Team was formally established in 2016 by a team which had participated in a renewable energy project that focused on the design and construction of solar vehicles.
					An interest arose on other forms of alternative energy, and thus research began on the various applications of hydrogen fuel cell technologies. Through research, a clear need for further investigation into the production, use, storage and sustainability of hydrogen was discovered.
				p
					a.btn.btn-primary.btn-lg(href='/signup', role='button') Join Society&raquo;
